@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form__box{
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    box-shadow: .5px 2px 7px 1px rgba(118, 118, 118, 0.122);
    border-radius: .5rem;
    overflow: hidden;
}

.header , .form , .footer{
    width: 100%;
}

.header , .footer{
    text-align: center;
}


.form-input{
    margin: 1.2rem 0;
    width: 100%;
}

.form-input input[type=text] , .form-input input[type=password]{
    padding: .6rem .4rem;
    font-size: .9rem;
    border-radius: .5rem;
    outline: none;
    border:1px solid #b1b1b164;
    transition: .5s;
    width: 100%;
}
.form-input input[type=text]::placeholder , .form-input input[type=password]::placeholder{
    color: #9f9f9f;
}
.form-input input[type=text]:focus , .form-input input[type=password]:focus{
    border-color: #8c8c8cd2;
}

.form-input input[type=text]:focus::-webkit-input-placeholder ,
.form-input input[type=password]:focus::-webkit-input-placeholder {
    color: #6d6d6d;
}

.validation__message{
    display: block;
    font-size: .8rem;
    font-weight: 300;
    color: tomato;
    max-width: fit-content;
    padding: .1rem .3rem;
    margin-top: .2rem;
    border-radius: .3rem;
}

input[type=checkbox]{
    cursor: pointer;
}

.form-check-input label{
    color: #5a5a5ac2;
    font-size: .9rem;
    cursor: pointer;
    transition: .3s;
}

.form-check-input label:hover{
    color: #000;
}

.button{
    all: unset;
    background-color: rgba(0, 0, 0, 0.811);
    color: #fff;
    padding: .6rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    width: 60%;
    margin: 1.5rem 0;
}

.button:hover{
    background-color: #000;
    color: #fff;
}


@media screen and (min-width:0){
    .form__box{
        width: 250px;
    }
}

@media screen and (min-width:325px){
    .form__box{
        width: 320px;
    }
}

@media screen and (min-width:578px){
    .form__box{
        width: 350px;
    }
    .form-input input[type=text] , .form-input input[type=password]{
        padding: .8rem .6rem;
        font-size: 1rem;
    }
    h1{
        font-size: 2.6rem;
        padding-bottom: 1rem;
        font-weight: 400;
    }
}
